
.App {
  text-align: center;
  background: linear-gradient(to bottom, #333, #333 ,#090);
  color: #FEA;
  height: 50vh;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  max-width: 80vw;
}

.Whatsy {
  width: 20em;
  margin: 2em;
  padding: 1em;
  background-color: #075E54;
  border-radius: 10px;
  color: white;
  font-weight: 900;
}